$secondary: #FCDF9D;
$cyan: #59AFB9;
$black: #3B3B3B;
$orange: #F5811E;
$theme-colors: (
  "primary": #59AFB9,
  "secondary": #FCDF9D,
  "accent": #F5811E,
  "gray-dark": #E9ECEF,
  "facebook": #3C599A,
  "pinterest": #CB1E28,
  "twitter": #55AEF0,
  "googleplus": #E94035,
  "grey": #F8F9FA,
);

$enable-rounded: false;

$btn-padding-y-sm: .125rem;
$btn-line-height-sm: 1.25;

$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: .875rem;

$body-color: $black;
