.about {
  & + & {
    margin-top: 1rem;
  }
  &-head {
    color: $cyan;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: .25rem;
    font-weight: 400;
    cursor: pointer;
    &:before {
      content: "\f107";
      float: right;
      font-family: "FontAwesome";
      color: $black;
    }
    &.collapsed:before {
      content: "\f104";
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &-body {
    position: relative;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &-img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  & p::before {
    content: "";
    padding-left: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    &-img {
      width: 100%;
    }
  }
}
