.product {
  &-btn-filter {
    background-color: $white;
    border: 0;
    padding: .25rem .5rem;
    color: $cyan;
    cursor: pointer;
    transition: all .25s;
    &:hover {
      background-color: $gray-200;
    }
    &:focus, &:active, &.active {
      outline: none;
      background-color: $cyan;
      color: $white;
    }
  }
  &-pagination {
    .page-item + .page-item {
      margin-left: .5rem;
    }
    .page-link {
      color: $black;
      background-color: $gray-200;
    }
  }
  &-slider-harga {
    border-radius: 0;
    &.noUi-horizontal {
      height: 8px;
      .noUi-handle {
        width: 14px;
        height: 18px;
        right: -8px!important;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background: $cyan;
        &:before, &:after {
          content: none;
        }
      }
    }
    .noUi-connect {
      background-color: $gray-300;
    }
  }
  &-slider-rating {
    height: 150px;
    margin-left: .5rem;
    border-radius: 0;
    &.noUi-vertical {
      width: 8px;
      .noUi-handle {
        width: 18px;
        height: 14px;
        top: -8px!important;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background: $cyan;
        &:before, &:after {
          content: none;
        }
      }
    }
    .noUi-connect {
      background-color: $gray-300;
    }
    &-star {
      position: absolute;
      margin-bottom: 0;
      list-style: none;
      top: -8px;
      left: 26px;
      padding: 0;
      li + li {
        margin-top: 11px;
      }
    }
  }
}

.product-detail {
  &-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    & + & {
      border-top: 1px solid $gray-400;
    }
  }

  &-color {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    & + & {
      margin-left: .5rem;
    }
  }
}

.product-extra {
  width: 150px;
  height: 115px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
  transition: all .25s ease-in-out;
  &.hide {
    display: none;
  }
  & + &:before {
    content: '\f218';
    font-family: 'Ionicons';
    font-size: 1.5rem;
    color: $cyan;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-qty {
  background-color: $white;
  border: 1px solid $gray-300;
}

.form-qty {
  width: 60px!important;
  border: 1px solid $gray-300;
  text-align: center;
  background-color: $white!important;
  cursor: default;
  &:focus {
    box-shadow: none;
    border: 1px solid $gray-300;
    z-index: 0;
  }
}

.product-cart {
  img {
    height: 1.25rem;
  }
}

.product-option {
  color: $black;
  font-weight: 600;
  font-size: .75rem;
  &:hover {
    text-decoration: none;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .25rem;
    height: 1.75rem;
  }
}

.nav-tabs-product {
  border-bottom: 0;
  margin-left: -.25rem;
  margin-right: -.25rem;
  .nav-item {
    margin-left: .25rem;
    margin-right: .25rem;
  }
  .nav-link {
    padding: .5rem 2rem;
    position: relative;
    z-index: 1;
    font-weight: 400;
    text-transform: none;
    background-color: $gray-300;
    &.active {
      border: 0;
      border-bottom: 1px solid $secondary;
      background-color: $secondary;
      z-index: 2;
    }
  }
}

.tab-content-product {
  border: 1px solid $gray-400;
}

.table-info-tech {
  display: table;
  width: 100%;
  &-row {
    display: table-row;
    &:nth-child(odd) {
      background-color: $gray-300;
    }
  }
  &-type, &-detail {
    display: table-cell;
    padding: .5rem 1rem;
    font-size: .75rem;
  }
  &-type {
    border-right: 1px solid $gray-400;
  }
}

.form-control-qa {
  border-right: 0;
  &::placeholder {
    color: $gray-400;
    font-style: italic;
    font-size: .75rem;
  }
}

.btn-qa {
  background-color: transparent;
  border: 1px solid $gray-300;
  border-left: 0;
  color: $gray-400;
}

.qa-rate {
  text-align: center;
  margin: 1rem;
  &-up, &-down {
    display: block;
    background-color: transparent;
    width: 0;
    height: 0;
    margin: .25rem auto;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
  }
  &-up {
    border-bottom: 1.5rem solid $gray-400;
  }
  &-down {
    border-top: 1.5rem solid $gray-400;
  }
}

.qa {
  position: relative;
  &-load {
    text-decoration: underline;
    color: #204B90;
    &:hover {
      color: darken(#204B90, 12.5%);
    }
  }
}

.qa-list {
  font-size: .8125rem;
  p {
    margin-bottom: .5rem;
  }
  &-author {
    color: $gray-500;
  }
  &-load {
    display: block;
    &:hover {
      text-decoration: none;
    }
    &:before {
      content: "\f103";
      font-family: "FontAwesome";
      font-size: 1rem;
      margin-right: 1rem;
    }
  }
}
