.recipe {
  position: relative;
  &-head {
    margin-bottom: 1rem;
  }
  &-body {
    position: relative;
    p:before {
      content: "";
      padding-left: 1.5rem;
    }
  }
  &-footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $gray-300;
    &-item {
      padding: .5rem 1rem;
      color: $black;
      &:hover {
        text-decoration: none;
        color: $cyan;
      }
    }
  }
  &-review {
    position: relative;
    display: flex;
    flex-flow: column;
    &-head {
      padding: .5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid $gray-400;
      &-user {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 1rem;
      }
      &-name {
        font-weight: normal;
        margin-bottom: .25rem;
      }
    }
    &-body {
      padding: .5rem 0;
      color: $gray-700;
      font-size: .8125rem;
      &-date {
        font-style: italic;
        margin-bottom: .5rem;
        display: block;
      }
      &-text {
        text-align: justify;
        max-height: 112px;
        overflow: hidden;
        margin-bottom: .25rem;
      }
      &-more {
        color: darken($secondary, 25%);
        &:hover {
          text-decoration: none;
          color: darken($secondary, 35%);
        }
      }
    }
    &-label {
      background-color: #B0DEDB;
      font-size: 1rem;
      position: relative;
      &:before {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 20px solid #B0DEDB;
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
      }
    }
    &-rating {
      padding: .5rem 0;
      &-item {
        position: relative;
        display: flex;
      }
      &-item + &-item {
        margin-top: .5rem;
      }
      &-star {
        width: auto;
      }
    }
  }
}
