/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  cursor: grab;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }

  &:focus {
    outline: none;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
.slider-arrow {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 400;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
  img {
    width: 16px;
    height: auto;
  }
  &-prev {
    left: 1.5rem;
  }
  &-next {
    right: 1.5rem;
  }
  &-outer-prev{
    left: 0;
  }
  &-outer-next{
    right: 0;
  }
  &-full {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    padding: 0 1rem;
  }
}
.slider-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  & > li {
    display: inline-block;
    position: relative;
    & + li {
      margin-left: .25rem;
    }
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\f10c";
        width: 20px;
        height: 20px;
        font-family: 'FontAwesome';
        line-height: 20px;
        font-size: 1rem;
        color: $gray-900;
      }
    }
    &.slick-active {
      button:before {
        content: "\f111";
      }
    }
  }
  &.dots-blue {
    & > li {
      button:before {
        color: $cyan;
      }
    }
  }
}
