.img-cover{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-contain{
  object-fit: contain!important;
  width: 100%;
  height: 100%;
}

.img-stretch{
  width: 100%;
  height: 100%;
}

.img-ratio{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
