.text-xs {
  font-size: .75rem!important;
}

.text-small{
  font-size: .8125rem!important;
}

.text-large{
  font-size: 1.175rem!important;
}

.text-normal{
  font-size: 1rem!important;
}

.text-weight-normal{
  font-weight: 400!important;
}

.text-weight-medium {
  font-weight: 500!important;
}

.text-weight-semi-b{
  font-weight: 600!important;
}

.text-spacy{
  font-size: 2.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.line-height-lg{
  line-height: 2;
}

.display-5{
  font-size: 3rem;
}

.section-divider{
  width: 100px;
  border-top: 4px solid $cyan;
  &.secondary{
    border-color: $secondary;
  }
  &.light{
    border-color: $gray-400;
  }
  &.divider-left{
    margin-left: 0;
    margin-right: auto;
    width: 280px
  }
  &.bold {
    border-width: 6px;
  }
  &.thin {
    border-width: 1px;
  }
}

.with-divider {
  display: inline-block;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom: 3px solid $gray-400;
}

.list-strip {
  list-style: none;
  position: relative;
  li:before {
    content: "-";
    position: absolute;
    left: .5rem;
  }
}

.form-control {
  border-color: #EBEBEB;
}

.link-reset{
  color: inherit;
  &:hover,&:focus{
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}

.panel-list {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: .5rem;
  }
  &-item {
    a {
      color: $black;
      &:hover {
        text-decoration: none;
        color: $cyan;
      }
      &:active, &:focus {
        outline: none;
        color: $cyan;
      }
    }
    &.active a {
      color: $cyan;
    }
  }
  &-dropdown {
    cursor: pointer;
    color: $cyan;
    &:before {
      content: "\f107";
      float: right;
      font-family: "FontAwesome";
    }
    &.collapsed {
      color: $black;
    }
    &.collapsed:before {
      content: "\f104";
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  ul {
    list-style: none;
    padding-left: 1rem;
  }
}

@include media-breakpoint-down(md){
  .text-spacy{
    font-size: 1.75rem;
  }
}
