@each $breakpoint in map-keys($grid-breakpoints){
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  @include media-breakpoint-up($breakpoint, $grid-breakpoints){
    .flex#{$infix}-equal > *{
      flex: 1;
    }
    .flex#{$infix}-shrink {
      flex-basis: 0;
      flex-grow: 0;
      flex-shrink: 1;
    }
  }
}
