%ratio{
  position: relative;
  height: 0;
}

.ratio-1-1{
  @extend %ratio;
  padding-bottom: 100%;
}

.ratio-16-9{
  @extend %ratio;
  padding-bottom: 56.25%;
}

.ratio-4-3{
  @extend %ratio;
  padding-bottom: 75%;
}

.ratio-item{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
