.btn-primary {
  color: $white;
}

.btn-promotion{
  font-size: .875em;
}

.btn-transparent{
  padding: 0;
  border: 0;
  background: transparent;
  &:focus,
  &:active{
    outline: none;
  }
}

.btn-wrap{
  white-space: normal;
}
