.card-offer{
  height: 210px;
}

.card-faq {
  display: block;
}

.card-product{
  height: 100%;
  border: 1px solid #CDCDCD;
  &-outline {
    border-color: #7D7D7D;
  }
  &-label{
    background:{
      image: url('../img/img_ribbon.png');
      size: contain;
      repeat: no-repeat;
    }
    position: absolute;
    width: 50px;
    height: 50px;
    top: -13px;
    left: .5rem;
    font-size: 1.25rem;
    font-weight: bolder;
    padding-left: 7px;
    &.discount-label:after{
      content: "%";
      font-weight: normal;
      font-size: 1rem;
      position: absolute;
      bottom: 12px;
      right: 10px;
    }
    &.label-catalog {
      top: .25rem;
      left: 1rem;
    }
  }
  &-image{
    height: 130px;
  }
  &-name{
    font-weight: 600;
    font-size: .75rem;
    margin-bottom: .5rem;
    display: block;
    color: $black;
    &:hover{
      text-decoration: none;
    }
  }
  &-price{
    color: $cyan;
    font-weight: 500;
    &-initial{
      font-size: .75rem;
      vertical-align: bottom;
      margin-left: .5rem;
    }
  }
  .rating{
    padding: 0;
    display: inline-block;
    vertical-align: middle;
  }
  &-review-count{
    margin-left: .5rem;
    font-size: .75rem;
    font-weight: 600;
  }
  &-addtocart{
    padding: .25rem .5rem;
    img{
      height: 20px;
    }
  }
  &-option{
    text-align: center;
    margin-left: .375rem;
    margin-right: .25rem;
    font-size: .675rem;
    font-weight: 600;
    color: $gray-900;
    &:hover{
      text-decoration: none;
      color: $black;
    }
    img{
      display: block;
      height: 18px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: .25rem;
    }
  }
  & + &{
    margin-top: 1rem;
  }
}

.card-product-row {
  flex-flow: row;
  &-label {
    padding: .125rem .25rem;
    position: absolute;
    background-color: #FFB0AC;
    top: 0;
    left: 0;
    &:after {
      content: "%";
    }
  }
  &-image-small {
    width: 100px;
  }
}

.card-recipe{
  height: 100%;
  &-overlay{
    margin: 1.5rem;
    padding: 3.5rem .75rem .75rem .75rem;
    background-color: rgba(255,255,255,.8);
    text-align: center;
  }
  &-label{
    position: absolute;
    width: 65px;
    height: 65px;
    top: -1rem;
    left: -1rem;
  }
  &-upload{
    font-size: 1rem;
    font-weight: 500;
  }
  &-name{
    font-size: 1rem;
    text-transform: uppercase;
    max-height: 57px;
    overflow: hidden;
  }
  &-age {
    font-weight: 500;
  }
  &-rating{
    position: absolute;
    bottom: .25rem;
    right: .25rem;
  }
  &-body{
    position: relative;
    padding: .5rem;
    padding-top: 2rem;
  }
  &-user{
    position: absolute;
    top: 2px;
    left: .25rem;
    transform: translateY(-50%);
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    img{
      width: 46px;
      height: 46px;
    }
  }
  &-text{
    font-size: .75rem;
    margin-bottom: 0;
  }
  & + &{
    margin-top: 1rem;
  }
}

.card-recipe-book {
  border: 0;
  position: relative;
  transition: all .25s;
  &.selected {
    padding: .5rem;
  }
  &-body {
    padding: 0;
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }
  &-float {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-user {
    width: 60px;
    height: 60px;
    vertical-align: bottom;
    margin-right: .25rem;
  }
  &-rating {
    display: inline-block;
  }
  &-name {
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }
  &-footer {
    display: flex;
    background-color: $gray-400;
    &-item {
      flex: 1;
      padding: 1rem 0;
      text-align: center;
    }
    &-link {
      color: $black;
      &:hover, &:focus, &:active {
        outline: none;
        text-decoration: none;
        color: $cyan;
      }
    }
  }
  &-panel {
    cursor: pointer;
  }
  &-select {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
  }
  &-delete {
    color: $red;
    position: absolute;
    top: -1rem;
    right: -1rem;
    &:hover, &:focus {
      color: darken($red, 10%);
      outline: none;
    }
  }
}

.card-instagram{
  margin-left: 1rem;
  margin-right: 1rem;
  &-overlay{
    opacity: 0;
    transition: all .25s;
    color: $white;
    &:hover{
      opacity: 1;
      color: $white;
      text-decoration: none;
    }
  }
  &-username{
    margin-top: auto;
  }
  &-caption{
    font-size: .8125rem;
    font-style: italic;
    margin-bottom: 0;
  }
}

.card-testimoni{
  border: none;
  text-align: center;
  &-user{
    width: 86px;
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    object-fit: cover;
  }
  &-content{
    font-size: .8125rem;
    font-style: italic;
  }
}

.card-blog{
  border: 0;
  display: block;
  &-user{
    width: 80px;
    height: 80px;
    margin-right: auto;
    object-fit: cover;
  }
  &-title{
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    max-height: 7.2rem;
    overflow: hidden;
  }
}

.card-opaque-dark{
  background-color: rgba(0,0,0,.4);
  color: $white;
  &er{
    background-color: rgba(0,0,0,.5);
  }
}

@include media-breakpoint-up(xl){
  .card-product{
    &-addtocart{
      font-size: .675rem;
      img{
        height: 14px;
      }
    }
    &-option{
      margin-left: .25rem;
      margin-right: 0;
      font-size: .6rem;
    }
  }
}

@include media-breakpoint-down(md){
  .card-product{
    &-addtocart{
      font-size: .875rem;
      img{
        height: 20px;
      }
    }
    &-option{
      margin-top: .25rem;
    }
  }
  .card-specialty,
  .card-faq{
    margin-bottom: 1.5rem;
  }
  .card-instagram{
    &-overlay{
      opacity: 1;
    }
  }
}

@include media-breakpoint-down(sm){
  .card-offer{
    margin-bottom: 1.5rem
  }
  .card-blog{
    &-title{
      line-height: 1.75rem;
      font-size: 1.5rem;
      max-height: 3.5rem;
    }
  }
}
