.dropdown-toggle{
  cursor: pointer;
}

.dropdown-toggle::after {
  border: 0;
  content: '\f107';
  vertical-align: 0;
  font-family: 'FontAwesome';
}

.toggle-bottom::after{
  display: block;
  text-align: center;
  width: auto;
  height: auto;
}

.dropdown-custom{
  .dropdown-head{
    padding: .25rem 1.5rem;
    display: block;
  }

  .dropdown-item:active .dropdown-list{
    color: $white;
  }

  .dropdown-list{
    color: $cyan;
    font-size: .775em;
    display: list-item;
    list-style: square;
    text-decoration: none;
  }
}
