.foot-top{
  background-color: $gray-200;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.foot-middle{
  background-color: $gray-100;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.foot-bottom{
  background-color: $gray-800;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.subscribe-form{
  font-size: .875rem;
  line-height: 1.75;
}

.subscribe-submit{
  font-size: .875rem;
  line-height: 1.75;
}

.info-label{
  width: 30px;
  vertical-align: top;
  color: $cyan;
  font-size: 1.25rem;
}

.info-detail{
  font-size: .8125rem;
  padding-bottom: .5rem;
}

.info-large{
  margin-bottom: 1rem;

  .info-label{
    width: auto;
    font-size: 2rem;
    padding-right: 1rem;
  }

  .info-detail{
    font-size: .8125rem;
  }
}

.nav-foot{
  list-style: none;
  padding: 0;
  font-size: .75rem;

  &-dot{
    color: $cyan;
    margin-right: 1rem;
    font-size: .675rem;
  }

  li{
    margin-bottom: .5rem;
  }

  a{
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
      color: $cyan;
    }
  }
}

.support-info{
  font-size: .8125rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  &:last-child{
    margin-bottom: 0;
  }

  &-title{
    margin-bottom: .5rem;
    display: block;
  }
}

.copyright{
  font-size: .8125rem;
  color: $white;
}

@include media-breakpoint-up(lg){
  .foot-col{
    border-right: 2px solid $gray-200;
    &:last-child{
      border-right: 0;
    }
  }
}

@include media-breakpoint-down(md){
  .foot-col{
    margin-bottom: 1rem;
    border-bottom: 2px solid $gray-200;
    &:last-child{
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}
