.maps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }
}

@include media-breakpoint-down (md){
  .maps-wrapper {
    height: 400px;
    padding-bottom: 0;
  }
}
