.sidebar {
  &-item {
    position: relative;
    & + & {
      padding-top: 1.5rem;
    }
  }
  &-header {
    text-transform: uppercase;
    color: $cyan;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  &-body {
    position: relative;
  }
}
